header {
    color: deepskyblue;
    background-color: ghostwhite;
    border-radius: 25pt;
    font-size: 15pt;
    text-align: center;    
}

html {
    background-color: deepskyblue;
}

main {
    background-color: ghostwhite;
}

a {
    color: deepskyblue;
}

h1 {
    color: deepskyblue;
}

footer a {
    color: navajowhite;
}

h2 {
    color: deepskyblue;
}

section a {
    background-color: deepskyblue;
    color: black;
    border-radius: 2pt
}

